@font-face {
	font-family: "gladheimicons-font";
	src: url('../fonts/gladheimicons-font.eot');
	src: url('../fonts/gladheimicons-font.eot?#iefix') format('eot'),
		url('../fonts/gladheimicons-font.woff2') format('woff2'),
		url('../fonts/gladheimicons-font.woff') format('woff'),
		url('../fonts/gladheimicons-font.ttf') format('truetype'),
		url('../fonts/gladheimicons-font.svg#gladheimicons-font') format('svg');
}

.gladheim-icon:before {
	font-family: "gladheimicons-font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.gladheim-icon-clothes:before {
	content: "\B001";
}

.gladheim-icon-consolidation:before {
	content: "\B002";
}

.gladheim-icon-danger:before {
	content: "\B003";
}

.gladheim-icon-doortodoor:before {
	content: "\B004";
}

.gladheim-icon-employers:before {
	content: "\B005";
}

.gladheim-icon-fcl:before {
	content: "\B006";
}

.gladheim-icon-general-charge:before {
	content: "\B007";
}

.gladheim-icon-increase-strategy:before {
	content: "\B008";
}

.gladheim-icon-insurance:before {
	content: "\B009";
}

.gladheim-icon-inventary:before {
	content: "\B00A";
}

.gladheim-icon-labeled:before {
	content: "\B00B";
}

.gladheim-icon-managment:before {
	content: "\B00C";
}

.gladheim-icon-maritime:before {
	content: "\B00D";
}

.gladheim-icon-new-market:before {
	content: "\B00E";
}

.gladheim-icon-package:before {
	content: "\B00F";
}

.gladheim-icon-port-destiny:before {
	content: "\B010";
}

.gladheim-icon-promotional-packaging:before {
	content: "\B011";
}

.gladheim-icon-recolecting:before {
	content: "\B012";
}

.gladheim-icon-relationships:before {
	content: "\B013";
}

.gladheim-icon-sales:before {
	content: "\B014";
}

.gladheim-icon-service:before {
	content: "\B015";
}

.gladheim-icon-storage:before {
	content: "\B016";
}

.gladheim-icon-sub-contratation:before {
	content: "\B017";
}

.gladheim-icon-world:before {
	content: "\B018";
}
