/*******************
  Footer
*******************/

$footer-background: #EDEDED !default;

footer {
    position: relative;

    @include breakpoint(large) {
      background-color: red;
    }
}

.footer-base {
    background-color: $footer-background;
    padding: 50px 0 38px 0;
    color: $dark-gray;
    font-size: 14px;
    line-height: 24px;
    .column, .columns {
        @include breakpoint(small only) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    @include breakpoint(small only) {
        text-align: center;
    }
    img {
        width: 150px;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      margin: 0;
      li {
        list-style-type: none;

        a {
          display: inline;
        }
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $secondary-color;
        @include breakpoint(small only) {
            margin-bottom: 8px;
        }
    }
    a {
        color: $primary-color;
        border-bottom: 1px solid transparent;
        transition: all ease 200ms;
        &:hover {
            color: $secondary-color !important;
            border-bottom: 1px solid $secondary-color;
        }
    }
    .input-field {
        input {
            border-color: $primary-color;
            &::placeholder {
                color: $primary-color;
            }
        }
    }
}
