// Site container
// --------------
.site-container {
  .intro, .us-container, .philosophy-container, .services-container {
    h2 {
      text-transform: uppercase;
      }
  }
    .services-container, .philosophy-container, .contenedor-contacto {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $primary-color;
        width: calc(33.333% + 5rem);
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: $secondary-color;
        width: calc(16.66667% + 5rem);
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.1;
      }
    }
  /*******************
  INTRO
*******************/
  .intro {
    background-color: $secondary-color;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    &__lado-izquierdo,
    &__lado-derecho {
      position: relative;
      width: 50%;
      float: left;
      z-index: 1;
    }
    &__parrafo-izquierdo,
    &__parrafo-derecho {
      width: calc(75% - 0.5rem);
      margin: 0 auto;
      position: relative;
      h4 {
        span {
          font-weight: bold;
          color: $primary-color;
        }
      }
      .marca-agua {
        position: absolute;
        font-size: 250px;
        color: rgba(33, 61, 115, 0.3);
        top: -130%;
        font-weight: lighter;
      }
    }
    &__parrafo-izquierdo {
      text-align: right;
      .marca-agua {
        right: -40px;
      }
    }
    &__parrafo-derecho {
      .marca-agua {
        left: -40px;
      }
    }
    &:before {
      content: '';
      display: block;
      background-color: $secondary-color;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skew(0deg,5deg);
      z-index: -1;
      bottom: -30%;
    }
    &:after {
      content: '';
      display: block;
      background-color: $secondary-color;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skew(0deg,-5deg);
      z-index: 0;
      top: -30%;
    }
  }
  /*******************
  NOSOTROS
*******************/
  .us-container {
    padding: 120px 0 0 0;
    position: relative;
    z-index: 2;
    h2 {
      text-transform: uppercase;
      color: $primary-color;
    }
    &__line {
      position: absolute;
      width: 100%;
      pointer-events: none;
      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 30px;
      }
    }
    &__characteristics {
      position: absolute;
      width: 100%;
      top: 40px;
    }
    &__services {
      min-height: 680px;
      display: flex;
      align-items: flex-end;
      h4 {
        padding-right: 16px;
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          width: 16px;
          height: 16px;
          border: 4px solid $secondary-color;
          border-radius: 50%;
          background-color: $white;
          position: absolute;
          right: -5px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &__image {
      text-align: center;
      padding-top: 16px;
      img {
        width: 519px;
      }
    }
    &__item {
      @include white-block;
      padding-left: 66px;
      margin-bottom: 70px;
      h3 {
        color: $primary-color;
      }
      i {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: -25px;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        color: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        transform: translateY(-50%);
      }
    }
    &:before {
      content: '';
      display: block;
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: skew(0deg,3.6deg);
      z-index: -1;
      bottom: -11.5%;
    }
  }

/*******************
  MAPA
*******************/

.map-container {
  height: 500px;
  position: relative;
  z-index: 1;
  &__description {
    @include white-block;
    position: absolute;
    bottom: -40px;
    left: 32px;
  }
  #map-globe {
    height: 500px;
  }
  &:before {
      content: '';
      display: block;
      background-color: #011420;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: skew(0deg,5deg);
      z-index: -1;
      bottom: -10%;
    }
}

.services-container {
  &__iniciative {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border: 4px solid $secondary-color;
      border-radius: 50%;
      background-color: $white;
      position: absolute;
      left: 50%;
      top: -62px;
      transform: translateX(-50%);
      z-index: 9;

    }
  }
}

  /*******************
  FILOSOFIA
*******************/
  .philosophy-container {
    &__description {
      @include white-block;
    }
  }
  /*******************
  Contacto
*******************/
  .contenedor-contacto {
    &__contacto {
      background-color: $white;
      padding: 30px;
      box-shadow: 0 2px 16px 0 rgba(71, 100, 128, .17);
      margin-top: -50px;
    }
    &__redes {
      a {
        display: block;
        margin: 20px 0;
        i {
          font-size: 24px;
          margin-right: 20px;
        }
      }
    }
  }
}
