// Site container
// --------------
.site-container {
  /*******************
  INTRO
*******************/
  .intro {
    background-color: $secondary-color;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    &__lado-izquierdo,
    &__lado-derecho {
      position: relative;
      width: 50%;
      float: left;
    }
    &__parrafo-izquierdo,
    &__parrafo-derecho {
      width: calc(75% - 0.5rem);
      margin: 0 auto;
      position: relative;
      h4 {
        span {
          font-weight: bold;
          color: $primary-color;
        }
      }
      .marca-agua {
        position: absolute;
        font-size: 300px;
        color: rgba(33, 61, 115, 0.3);
        top: -150%;
        font-weight: lighter;
      }
    }
    &__parrafo-izquierdo {
      text-align: right;
      .marca-agua {
        right: -40px;
      }
    }
    &__parrafo-derecho {
      .marca-agua {
        left: -40px;
      }
    }
    &:before {
      content: '';
      display: block;
      background-color: $secondary-color;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skew(0deg,5deg);
      z-index: -1;
      bottom: -30%;
    }
  }
  /*******************
  NOSOTROS
*******************/
  .us-container {
    padding: 120px 0 60px 0;
    position: relative;
    z-index: 2;
    h2 {
      text-transform: uppercase;
      color: $primary-color;
    }
    &__characteristics {
      position: absolute;
      width: 100%;
      top: 40px;
    }
    &__services {
      min-height: 680px;
      display: flex;
      align-items: flex-end;
    }
    &__image {
      text-align: center;
      padding-top: 16px;
      img {
        width: 519px;
      }
    }
    &__item {
      @include white-block;
      padding-left: 66px;
      margin-bottom: 70px;
      h3 {
        color: $primary-color;
      }
      i {
        position: absolute;
        top: 50%;
        left: -25px;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        color: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        transform: translateY(-50%);
      }
    }
    &:before {
      content: '';
      display: block;
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: skew(0deg,5deg);
      z-index: -1;
      bottom: -10%;
    }
  }

/*******************
  MAPA
*******************/

.map-container {
  height: 600px;
  position: relative;
  z-index: 1;
  #map-globe {
    height: 600px;
  }
  &:before {
      content: '';
      display: block;
      background-color: #011420;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: skew(0deg,5deg);
      z-index: -1;
      bottom: -10%;
    }
}


  /*******************
  FILOSOFIA
*******************/
  .contenedor-filosofia {
    background-image: url(http://gladheimlogistics.com/images/Freight-Forwarding-by-Gladheim-Logistics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: $primary-color;
    background-blend-mode: multiply;
    color: $white;
    padding: 60px 0 60px 0;
    h3 {
      text-transform: uppercase;
      font-size: 22px;
      margin: 32px 0 16px 0;
      color: $secondary-color;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  /*******************
  Contacto
*******************/
  .contenedor-contacto {
    background-color: $primary-color;
    &__contacto {
      background-color: $white;
      padding: 60px;
      box-shadow: 0 2px 16px 0 rgba(71, 100, 128, .17);
      margin-top: -50px;
    }
    &__redes {
      a {
        display: block;
        color: $secondary-color;
        margin: 20px 0;
        i {
          color: $white;
          font-size: 24px;
          margin-right: 20px;
        }
        &:hover {
          color: $light-gray;
          i {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
